social-studio-internship-workflow.json
{
  "name": "Social Studio Internship Application Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "internship-application",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"website\"]}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"track\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"availability\"]}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json[\"about\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-node",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize data and add timestamp\nconst data = items[0].json;\n\n// Create normalized object\nconst normalized = {\n  submitted_at: new Date().toISOString(),\n  name: (data.name || '').trim(),\n  email: (data.email || '').trim().toLowerCase(),\n  phone: (data.phone || '').trim(),\n  track: (data.track || '').trim(),\n  portfolio_or_linkedin: (data.portfolio_or_linkedin || '').trim(),\n  availability: (data.availability || '').trim(),\n  location: (data.location || '').trim(),\n  about: (data.about || '').trim()\n};\n\nreturn [normalized];"
      },
      "id": "normalize-node",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sheet1!A:I",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "google-sheets-node",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_GMAIL@gmail.com",
        "toEmail": "YOUR_GMAIL@gmail.com",
        "subject": "New Internship Application - {{$json[\"name\"]}}",
        "text": "New internship application received:\n\nName: {{$json[\"name\"]}}\nEmail: {{$json[\"email\"]}}\nPhone: {{$json[\"phone\"]}}\nTrack: {{$json[\"track\"]}}\nAvailability: {{$json[\"availability\"]}}\nLocation: {{$json[\"location\"]}}\nPortfolio/LinkedIn: {{$json[\"portfolio_or_linkedin\"]}}\n\nAbout:\n{{$json[\"about\"]}}\n\nSubmitted: {{$json[\"submitted_at\"]}}"
      },
      "id": "admin-email-node",
      "name": "Send Admin Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "fromEmail": "YOUR_GMAIL@gmail.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Thank you for applying to Social Studio!",
        "text": "Hi {{$json[\"name\"]}},\n\nThank you for applying for our {{$json[\"track\"]}} internship at Social Studio! We've received your application and will review it within 3 business days.\n\nWe'll be in touch soon with next steps.\n\nBest regards,\nSocial Studio Team"
      },
      "id": "applicant-email-node",
      "name": "Send Applicant Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseData": "{ \"ok\": true }"
        }
      },
      "id": "response-node",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseData": "{ \"error\": \"Invalid submission\" }"
        }
      },
      "id": "error-response-node",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Admin Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Applicant Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "social-studio-internship-workflow"
  }
}
